.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #111827;
  color: white;
}

.logo {
  font-size: 18px;
  font-weight: bold;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #d1d5db;
  font-weight: 500;
  transition: 0.2s;
}

.nav-links a:hover {
  color: white;
}

.nav-links .active {
  color: #3b82f6;
  border-bottom: 2px solid #3b82f6;
  padding-bottom: 3px;
}