table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #111;
  color: white;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}